# Object files
*.o
*.lo
*.la

# Libraries
.libs
*.lib
*.a

# Shared objects
*.so
*.so.*

# Dependencies
.dirstamp
.deps

# Automake
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
config/
configure
libtool

# Project/Eclipse
.cproject
.project
tags

# VMA specific
src/state_machine/state_machine_test
src/stats/vma_stats
src/vlogger/vlogger_test
stamp-h1

# build products
VMA_VERSION
build/libvma.spec
debian/changelog
