# Object files
*.o
*.lo
*.la

# Libraries
.libs
*.lib
*.a

# Shared objects
*.so
*.so.*

# Dependencies
.dirstamp
.deps

# Automake
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
config/aux/config.guess
config/aux/config.sub
config/aux/install-sh
config/aux/missing
config/aux/decomp
config/aux/ltmain.sh
config/aux/compile
config/aux/depcomp
config/m4/libtool.m4
config/m4/ltoptions.m4
config/m4/ltsugar.m4
config/m4/ltversion.m4
config/m4/lt~obsolete.m4
configure
libtool

# Tool
cov-int/
jenkins/

# IDE files
.cproject
.project
tags
.vs/
obj/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
VTune Profiler Results/

# VMA specific
src/utils/timetest
src/stats/vma_stats
src/vlogger/vlogger_test
src/state_machine/state_machine_test
stamp-h1

# build products
VMA_VERSION
build/libvma.spec
debian/changelog
contrib/scripts/vma.init
contrib/scripts/vma.service
tools/daemon/vmad
