# Object files
*.o
*.lo
*.la

# Libraries
.libs
*.lib
*.a

# Shared objects
*.so
*.so.*

# Dependencies
.dirstamp
.deps

# Automake
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/
configure
libtool

# Project/Eclipse
.cproject
.project

# VMA specific
src/lwip/
src/state_machine/state_machine_test
src/stats/vma_stats
src/vlogger/vlogger_test
src/vma/config_parser.c
src/vma/config_parser.h
src/vma/config_scanner.c
stamp-h1
