#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

%:
	dh $@

#override_dh_auto_clean:

override_dh_auto_configure:
	./autogen.sh
	revision=1 ./configure --with-ofed=/usr --prefix=$(CURDIR)/debian/libvma/usr --libdir=$(CURDIR)/debian/libvma/usr/lib64 --includedir=$(CURDIR)/debian/libvma/usr/include/mellanox --docdir="$(CURDIR)/debian/libvma/usr/share/doc/libvma-__DEB_VMA_VERSION-__DEB_VMA_RELEASE" --sysconfdir=$(CURDIR)/debian/libvma/etc

override_dh_auto_build:
	make
	make sockperf

override_dh_auto_install:
	$(MAKE) prefix=$(CURDIR)/debian/libvma/usr install install-sockperf

override_dh_auto_installchangelogs:
	

override_dh_installchangelogs:
	

override_dh_auto_installdocs:
	

override_dh_installdocs:
	

override_dh_compress:
	

#override_dh_auto_test:
